<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FinalYearProject.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FinalYearProject.Properties.Settings>
            <setting name="locktimer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Test123</value>
            </setting>
            <setting name="background" serializeAs="String">
                <value>background1</value>
            </setting>
            <setting name="webcam" serializeAs="String">
                <value />
            </setting>
            <setting name="numberOfProfiles" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="maximumProfiles" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="locked" serializeAs="String">
                <value>False</value>
            </setting>
        </FinalYearProject.Properties.Settings>
    </userSettings>
</configuration>